@model Core3Shop.ViewModels.OrderDetailsViewModel
@using Core3Shop.Utility.Consts
<div class="backgroundWhite container">
    <div class="card">
        <div class="bg-dark card-header text-light m-0 row">
            <div class="col-12 d-none d-md-block col-md-6">
                <i class="far fa-file-alt"></i> Order Details
            </div>
            <div class="col-12 col-md-4 offset-md-2 text-right">
                <a asp-action="Index" asp-controller="Order" asp-area="Admin" class="btn btn-outline-light form-control btn-sm p-2"><i class="fas fa-list"></i> Back to Orders</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-12 col-lg-6">
                    <h4 class="text-primary">PickUp Details</h4>
                    <div class="row pb-1">
                        <div class="col-3">
                            <label asp-for="Order.Name"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Order.Name" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-3">
                            <label asp-for="Order.Phone"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Order.Phone" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-3">
                            <label asp-for="Order.Email"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Order.Email" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-3">
                            <label asp-for="Order.Address"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Order.Address" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-3">
                            <label asp-for="Order.City"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Order.City" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-3">
                            <label asp-for="Order.ZipCode"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Order.ZipCode" class="form-control" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 offset-lg-1">
                    <h4 class="text-primary">Order Details</h4>
                    <ul class="list-group mb-3">
                        @foreach (var item in Model.Order.Items)
                        {
                            <li class="list-group-item d-flex justify-content-between">
                                <div>
                                    <h6>@item.ServiceName</h6>
                                    <span class="text-muted">$@item.Price</span>
                                </div>
                            </li>

                        }
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <h5 class="text-success">Total</h5>
                            <h5 class="text-success">$@Model.TotalPrice</h5>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="card-footer">
            @if (Model.Order.Status == OrderStatuses.Submitted)
            {
            <div class="row">
                <div class="col-6 offset-md-4 col-md-4 col-lg-2 offset-lg-8 text-right">
                    <a asp-action="Approve" asp-route-id="@Model.Order.Id" class="btn btn-success form-control"><i class="far fa-check-circle"></i> Approve</a>
                </div>
                <div class="col-6 col-md-4 col-lg-2 text-right">
                    <a asp-action="Reject" asp-route-id="@Model.Order.Id" class="btn btn-danger form-control"><i class="far fa-times-circle"></i> Reject</a>
                </div>
            </div>
            }
        </div>
    </div>
</div>

