@model Core3Shop.Models.Service

<div class="col-xl-3 col-lg-4 col-md-6 pb-4">
    <div class="card rounded-lg">
        <div class="p-1 text-center">
            <div class="card-title text-primary font-weight-bold h5">@Model.Name</div>
        </div>
        <div class="d-flex justify-content-between p-1">
            <div class="text-muted">Price per service</div>
            <div class="text-warning">$@Model.Price</div>
        </div>
        <img src="@Model.ImageUrl" class="p-2 rounded-lg w-100" />
        <div class="text-muted text-center pb-2">@Model.Frequency.Name</div>
        <a asp-action="Details" class="btn btn-success rounded-lg" asp-route-id="@Model.Id"><i class="fas fa-angle-double-right"></i> Details</a>
    </div>
</div>