@model Core3Shop.ViewModels.HomeViewModel

@foreach(var category in Model.Categories)
{
    <div class="container pb-3 backgroundWhite">
            <div class="text-success font-weight-bold h3">@category.Name</div><a href="#@category.Id"></a>
            <div class="row">
                        @foreach(var service in Model.Services.Where(x=> x.CategoryId == category.Id).OrderBy(x=>x.Name))
                        {
                            <partial name="_ServiceCard" model="service" />
                        }
            </div>
        </div>
}